# Gradient Booking

In [18]:
import pandas as pd
from  sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df_bike=pd.read_csv("data/bike-sharing/day.csv")

In [3]:
df_bike.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [4]:
df_bike.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [5]:
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [6]:
df_bike.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [7]:
df_bike.isna().sum().sum()

0

In [9]:
# Displaying null values

df_bike[df_bike.isna().any(axis=1)]

Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

In [12]:
# Deleting non - numerical columns
df_bike= df_bike.drop('dteday',axis=1)

# Predicting regression

In [13]:
#According to the dataset, `df_bike['cnt']` is the number of bike rentels in a given dat, Predicting this column would be the great use of a bike rental company. 
# Our problem is to predict the correct number of bike rentals on a given dataset such as whether this day is a holiday or working day, forcasted temperatures, humidity, windspeed, 
# and so on.
# According to the dataset, `df_bike['cnt']` is the sum of `df_bike['casual']` and `df_bike['registered']`. If `df_bike['registered']` and `df_bike['casual']` were includedas input 
# columns, predicting would always be 100% accurate since these columns wold always sum to tyhe currect result. Although perfect prediction are ideal in theory, it make no sense to include
# input columns that would be unknown in reality.
# So drop  casual and registered columns

df_bike=df_bike.drop(['casual', 'registered'],axis=1)

### Declaring predictor and target columns

In [14]:
X=df_bike.iloc[:,:-1]
y=df_bike.iloc[:,-1]

In [16]:
X

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446
1,2,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539
2,3,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309
3,4,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296
4,5,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900
...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133
727,728,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471
728,729,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383
729,730,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754
730,731,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846

In [17]:
y

0       985
1       801
2      1349
3      1562
4      1600
       ...
726    2114
727    3095
728    1341
729    1796
730    2729
Name: cnt, Length: 731, dtype: int64

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2)

# Modeling linear regression

In [20]:
lin_reg=LinearRegression()

In [21]:
lin_reg.fit(X_train, y_train)

LinearRegression()

In [22]:
y_pred=lin_reg.predict(X_test)

In [24]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [29]:
# Compare the predictions
# Compute mean_squared_error as mse
mse=mean_squared_error(y_test,y_pred)
# Compute root mean squared error as rmse 
rmse=np.sqrt(mse)
# Display root mean squared error
print("RMSE %0.2f" %(rmse))

RMSE 898.33

In [30]:
df_bike['cnt'].describe()

count     731.000000
mean     4504.348837
std      1937.211452
min        22.000000
25%      3152.000000
50%      4548.000000
75%      5956.000000
max      8714.000000
Name: cnt, dtype: float64

# XGBoostRegressor

In [31]:
from xgboost import XGBRegressor

In [32]:
xg_reg=XGBRegressor()

In [33]:
xg_reg.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [34]:
y_pred=xg_reg.predict(X_test)

In [35]:
# Compare the predictions
# Compute mean_squared_error as mse
mse=mean_squared_error(y_test,y_pred)
# Compute root mean squared error as rmse 
rmse=np.sqrt(mse)
# Display root mean squared error
print("RMSE %0.2f" %(rmse))

RMSE 693.03